/* TABLET */

@media (max-width: 1100px) {
  .sidebar {
    width: 90px;
  }

  .logo span,
  .sidebar a span {
    display: none;
  }

  .metrics {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* MOBILE */

@media (max-width: 768px) {
  .main {
    padding: 20px;
  }

  .hero h2 {
    font-size: 28px;
  }

  .metrics {
    grid-template-columns: 1fr;
  }

  .panels {
    grid-template-columns: 1fr;
  }

  /* BOTON HAMBURGUESA */

  .menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border: none;
    border-radius: 12px;
    background: #121b2e;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }

  /* MENU OCULTO */

  .nav-menu {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: #101827;
    border-top: 1px solid #1f2a44;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
  }

  /* MENU ABIERTO */

  .nav-menu.active {
    display: flex;
  }

  .navbar {
    padding: 16px 20px;
  }
}
